{% extends 'lms/admin/admin-layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block main %}
    <h1>{{ author.name }}</h1>

    <h2>Details</h2>
    <section class="details">
        <p class="info">Author Books</p>
        <p class="detail">
            {% for book in author.books.all %}
                <a class="button update"
                    href="{% url 'lms:admin-book-detail' book.book_id %}">
                    {{ book.title }}
                </a>
                {% empty %}
                -
            {% endfor %}
        </p>
    </section>
{% endblock %}