main {
    max-width: 120rem;
    padding: 0 2rem;
    margin: auto;
}

.dashboard {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard div {
    position: relative;
    display: flex;
    min-width: 25rem;
    min-height: 25rem;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
}

.dashboard div .item-label {
    position: absolute;
    top: 0;
    left: 0;
}

.book {
    border: 3px solid green;
}

.book .item-label {
    background-color: green;
    color: white;
    min-width: 100%;
    text-align: center;
}

.borrower {
    border: 3px solid blue;
}

.borrower .item-label {
    background-color: blue;
    color: white;
    min-width: 100%;
    text-align: center;
}

.author {
    border: 3px solid rebeccapurple;
}

.author .item-label {
    background-color: rebeccapurple;
    color: white;
    min-width: 100%;
    text-align: center;
}

@media print {
    header {
        display: none;
    }

    .borrower, .borrower > .item-label, .borrower > p {
        display: none;
    }
}